.env
db/data
moodledata-405/*
moodledata-500/*
moodledata-501/*
.DS_Store
.claude/
.idea/
moodle-405/mod/quiz/accessrule/proctoring
moodle-405/moodle-cron.log
moodle-405/moodle-error.log
moodle-405/supervisord.log
moodle-405/nginx.log
moodle-405/nginx_error.log
moodle-405/php-fpm.log
moodle-405/php-fpm_error.log
moodle-405/cron.log
moodle-405/cron_error.log
moodle-405/log-cleaner_error.log
moodle-405/log-cleaner.log
moodle-500/mod/quiz/accessrule/proctoring
moodle-500/moodle-cron.log
moodle-500/moodle-error.log
moodle-500/supervisord.log
moodle-500/nginx.log
moodle-500/nginx_error.log
moodle-500/php-fpm.log
moodle-500/php-fpm_error.log
moodle-500/cron.log
moodle-500/cron_error.log
moodle-500/log-cleaner_error.log
moodle-500/log-cleaner.log

moodle-501/mod/quiz/accessrule/proctoring
moodle-501/moodle-cron.log
moodle-501/moodle-error.log
moodle-501/supervisord.log
moodle-501/nginx.log
moodle-501/nginx_error.log
moodle-501/php-fpm.log
moodle-501/php-fpm_error.log
moodle-501/cron.log
moodle-501/cron_error.log
moodle-501/log-cleaner_error.log
moodle-501/log-cleaner.log


