.env
db/data
moodledata-405
moodledata-500
.DS_Store
moodle-405/mod/quiz/accessrule/proctoring
moodle-405/moodle-cron.log
moodle-405/moodle-error.log
moodle-405/supervisord.log
moodle-405/apache2.log
moodle-405/apache2_error.log
moodle-405/cron.log
moodle-405/cron_error.log
moodle-405/log-cleaner_error.log
moodle-405/log-cleaner.log
moodle-500/mod/quiz/accessrule/proctoring
moodle-500/moodle-cron.log
moodle-500/moodle-error.log
moodle-500/supervisord.log
moodle-500/apache2.log
moodle-500/apache2_error.log
moodle-500/cron.log
moodle-500/cron_error.log
moodle-500/log-cleaner_error.log
moodle-500/log-cleaner.log
