# Example environment file for Moodle Docker
# Copy this file to .env and edit as needed

DB_405_ROOT_PASSWORD=changeme405
DB_500_ROOT_PASSWORD=changeme500
APP_405_PORT=8081
APP_500_PORT=8082
MYSQL_405_PORT=8011
MYSQL_500_PORT=8012
APP_405_WWWROOT=http://localhost:8081
APP_500_WWWROOT=http://localhost:8082
